.back-video{
    width: 100%;
    height: auto;
}
 h2{
position:relative;
text-align: center;
margin-top: -320px;
color: rgb(255, 240, 25);
font-weight: 900;
font-size: 80px;
font-family: ' sans-serif';

}
h2:hover{
    -webkit-text-stroke: 2px rgb(44, 42, 42);
    color: #fff;
}
 .logo{
    position: absolute;
    margin-top: 20px;
   width: 100px;
   margin-left: 20px;
    border-radius: 50px;
    background-color: #fff;

 }